[submodule "Rust-Books/rust-cookbook-by-nursery"]
	path = Rust-Books/rust-cookbook-by-nursery
	url = https://github.com/rust-lang-nursery/rust-cookbook.git
[submodule "Rust-Books/rust-reference-by-nursery"]
	path = Rust-Books/rust-reference-by-nursery
	url = https://github.com/rust-lang-nursery/reference.git
[submodule "Rust-Books/rust-reference-by-offial"]
	path = Rust-Books/rust-reference-by-offial
	url = https://github.com/rust-lang/book.git
[submodule "C-Books/Qt-Up/best-projects/x64dbg/qt-x64dbg"]
	path = C-Books/Qt-Up/best-projects/x64dbg/qt-x64dbg
	url = https://github.com/x64dbg/x64dbg.git
[submodule "Go-Books/GoBestProjects/gomods_github/athens"]
	path = Go-Books/GoBestProjects/gomods_github/athens
	url = https://github.com/gomods/athens.git
